DevelopmentPlan/DevelopmentPlan.aux
DevelopmentPlan/DevelopmentPlan.fdb_latexmk
DevelopmentPlan/DevelopmentPlan.fls
DevelopmentPlan/DevelopmentPlan.log
DevelopmentPlan/DevelopmentPlan.out
DevelopmentPlan/DevelopmentPlan.synctex.gz
DevelopmentPlan/DevelopmentPlan.pdf
